.highlights{
    width: 100vw;
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    width:100%;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 70px;
}

.container > header, main{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


